.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.person {
    text-align: center;
}

.person img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff; /* Optional: Add border */
}
h1 {
    background-color: lightblue;
}